<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./images/logo/plateau-de-nourriture.png"
    />
    <title>Ohmyfood</title>
    <script
      src="https://kit.fontawesome.com/b50abd1df8.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <div class="header">
        <a href="../index.html">
          <i class="fa-sharp fa-solid fa-arrow-left"></i
        ></a>
        <h1 class="logo">ohmyfood</h1>
      </div>
    </header>
    <main>
      <section class="menu"></section>
      <section></section>
    </main>
    <footer>
      <ul>
        <h3>ohmyfood</h3>
        <li>
          <i class="fa-solid fa-utensils"></i
          ><a href="#"> Proposer un restaurant</a>
        </li>
        <li>
          <i class="fa-solid fa-handshake-angle"></i
          ><a href="#">Devenir partenaire</a>
        </li>
        <li><a href="#"> Mentions légales</a></li>
        <li><a href="mailto:contact@ohmyfood.com"> Contact</a></li>
      </ul>
    </footer>
  </body>
</html>
