@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

* {
    box-sizing: border-box;    
    font-family: "roboto", sans-serif;
}
h1 {
font-family: "shrikhand", sans-serif;
}
body{

    font-size: small;
}

h1 {
        font-size: x-large;
    }
h2{
    font-size : 25px;
    text-align: center;
}    
