

@media screen and (min-width: 768px){

//index
    .resa__container h2{
        font-size: 30px;
    }
        .resa__container p{
        font-size: 16px;
    }
    
    .fonctionnement ol{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        & li{
            width: 30%;
            padding-bottom: 40px;
        }
    }
    .cards__container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .card{
        width : 45%;
        height: 400px;
        img{
        object-position: 0 50%;
    }}


//menus

.menu__display{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.groupe__menu{
        width: 30%;
    }

.groupe__menu > h3::after{
    content: "";
    position:absolute;
    width:40px;
    height: 3.5px;
    background-color: $tertiary;
    top: 35px;
    left:0;
}
.menu img{
    max-height: 350px;
}
}