// bulles fonctionnement
@mixin bulle-fonct{
    display: flex;
   justify-content: flex-start;
   flex-direction: column;
   gap: 15px;  

    li{
        display: flex;
        align-items: center;
         width: calc(100% - 1rem);
      //  justify-content: flex-start;
    }
  
    li::before{
        border-radius: $radius-puce ;
        background-color: $primary;  
        padding: 5px 8px;
        height: 15px;
        width: 10px;
        color: white;       
        text-align:center
    }
    .fonctionnement__list{
        border-radius: $radius-bulle;
        background-color: $lightgrey;
        box-shadow: $light-shadow;
        padding: 20px 15px;
        font-size: medium;
        width: 100%;
    }
    a > .fa-solid{
        color: $icongrey;
        padding: 0 20px 0 0;
    }
}

//cards restaurants

@mixin card{
    .cards__container{
        display: flex;
        flex-direction: column;
       // justify-content: center;
        width: 100%;
        
    }
    .card{
        display: flex;
        flex-direction: column;
        box-shadow: $light-shadow;
        border-radius: 15px;
        overflow: hidden;
        height: 220px;
        margin: 20px;
        position: relative;
      }  
  
      .card img{
       width: 100%;
       height: 100%;
        object-fit: cover;
        
      }
      .cards__text{
        position : absolute;
        bottom: 0;
        left: 0;
        right: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: white;
      padding: 20px 0 15px 30px;
    }
}

